@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SimpleBindMetoda</title>
</head>
<body>
    <div> 
        <form method="post">
              <label>Unesi ime: </label>
              <input type="text" name="ime" value="" />
              <button type="submit">Posalji </button>
        </form>
    </div>
    <div>
        <label>@Model</label>
    </div>
</body>
</html>
