@model IEnumerable<ADOnet.Controllers.Tecaj>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opis)
        </th>
    </tr>

    @foreach  (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            
        </tr>
    }
</table>

