
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PopuniOsobu</title>
</head>
<body>
    <div> 
        <form>
            <div>
                <label>Ime:</label>
                <input type="text" name="Ime"/>
            </div>
            <div>
                <label>Prezime:</label>
                <input type="text" name="Prezime" />
            </div>
            <div>
                <label>Email:</label>
                <input type="text" name="Email" />
            </div>
            <div>
                <label>Datum:</label>
                <input type="text" name="DatumRodjenja" />
            </div>
            <div>
                
                <input type="submit" />
            </div>
        </form>
    </div>
</body>
</html>
